{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            JobSafe
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

</head>

<body>

    <div class="ambient ambient-a"></div>

    <div class="ambient ambient-b"></div>


    {% block content %}

    {% endblock %}


    <script src="{% static 'js/script.js' %}"></script>


    {% block scripts %}

    {% endblock %}

</body>

</html>